.btn {
  background-color: rgb(70, 166, 225);
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0.3rem;
  transition: 0.3s;
  width: 4rem;
}

.btn:hover {
  cursor: pointer;
  margin-left: 0.5rem;
}
